# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=oficina_mecanica
DATABASE_HOST=postgres
DATABASE_PORT=5432

# API Configuration
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080;https://+:8081

# Connection String
ConnectionStrings__DefaultConnection=Host=postgres;Database=oficina_mecanica;Username=postgres;Password=postgres

# Logging
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
