.env.local
.env.*.local
*.user
obj/
bin/
.vs/
.vscode/
*.log
*.pdb
.DS_Store
node_modules/
.idea/
#launchSettings.json
.env
artifacts/
.sonarqube/
TestResults/
.codex


*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

terraform.tfvars

*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json